In [2]:
import os
from glob import glob
import pandas as pd
import numpy as np

In [17]:
submit_path_list = glob("./submit/voting/*.csv")

In [25]:
submit_list = [pd.read_csv(submit_path_list[i]) for  i in range(len(submit_path_list))]

In [46]:
len(submit_list)

7

In [59]:
tmp = pd.read_csv('./data/sample_submission.csv')

In [60]:
for i in range(5):
    tmp['A'] += submit_list[i]['A']
    tmp['B'] += submit_list[i]['B']
    tmp['C'] += submit_list[i]['C']
    tmp['D'] += submit_list[i]['D']
    tmp['E'] += submit_list[i]['E']
    tmp['F'] += submit_list[i]['F']
    tmp['G'] += submit_list[i]['G']
    tmp['H'] += submit_list[i]['H']
    tmp['I'] += submit_list[i]['I']
    tmp['J'] += submit_list[i]['J']


#[np.sum(s['A'][i]) for s in submit_list]

In [62]:
tmp['A'] = [1 if t >= 3 else 0 for t in tmp['A']]
tmp['B'] = [1 if t >= 3 else 0 for t in tmp['B']]
tmp['C'] = [1 if t >= 3 else 0 for t in tmp['C']]
tmp['D'] = [1 if t >= 3 else 0 for t in tmp['D']]
tmp['E'] = [1 if t >= 3 else 0 for t in tmp['E']]
tmp['F'] = [1 if t >= 3 else 0 for t in tmp['F']]
tmp['G'] = [1 if t >= 3 else 0 for t in tmp['G']]
tmp['H'] = [1 if t >= 3 else 0 for t in tmp['H']]
tmp['I'] = [1 if t >= 3 else 0 for t in tmp['I']]
tmp['J'] = [1 if t >= 3 else 0 for t in tmp['J']]

In [72]:
tmp.to_csv("./voting.csv",index=False)

In [67]:
tmp2 = pd.read_csv('./data/sample_submission.csv')

In [68]:
tmp2

              id  A  B  C  D  E  F  G  H  I  J
0     TEST_00000  0  0  0  0  0  0  0  0  0  0
1     TEST_00001  0  0  0  0  0  0  0  0  0  0
2     TEST_00002  0  0  0  0  0  0  0  0  0  0
3     TEST_00003  0  0  0  0  0  0  0  0  0  0
4     TEST_00004  0  0  0  0  0  0  0  0  0  0
...          ... .. .. .. .. .. .. .. .. .. ..
1455  TEST_01455  0  0  0  0  0  0  0  0  0  0
1456  TEST_01456  0  0  0  0  0  0  0  0  0  0
1457  TEST_01457  0  0  0  0  0  0  0  0  0  0
1458  TEST_01458  0  0  0  0  0  0  0  0  0  0
1459  TEST_01459  0  0  0  0  0  0  0  0  0  0

[1460 rows x 11 columns]

In [71]:
tmp.isna().sum()

id    0
A     0
B     0
C     0
D     0
E     0
F     0
G     0
H     0
I     0
J     0
dtype: int64

In [8]:
submit.iloc[:,1:]

      A  B  C  D  E  F  G  H  I  J
0     1  1  0  0  0  0  1  0  1  1
1     1  1  0  0  1  1  1  0  1  0
2     1  1  0  1  1  0  1  1  0  1
3     1  1  0  0  1  1  0  1  1  1
4     1  1  0  0  1  0  1  0  0  0
...  .. .. .. .. .. .. .. .. .. ..
1455  1  1  1  1  0  0  1  1  1  0
1456  1  1  1  0  0  1  1  0  1  1
1457  1  1  1  0  0  0  0  1  0  1
1458  1  1  0  1  0  1  0  0  1  1
1459  1  1  1  0  1  0  1  0  1  0

[1460 rows x 10 columns]

In [13]:
submit['A']

0       1
1       1
2       1
3       1
4       1
       ..
1455    1
1456    1
1457    1
1458    1
1459    1
Name: A, Length: 1460, dtype: int64