In [6]:
import pandas as pd
import os
import numpy as np
import random

In [7]:
def seed_everything(seed):
    random.seed(seed)
    os.environ['PYTHONHASHSEED'] = str(seed)
    np.random.seed(seed)

In [8]:
seed_everything(777)

In [9]:
train_data = pd.read_csv("../data/new_train.csv")

In [10]:
df = train_data.sample(frac=1)
    
train_len = int(len(df) * 0.8)
train_df = df[:train_len]
val_df = df[train_len:]

In [20]:
CLASSES = ['A', 'B', 'C', 'D', 'E', 'F', 'G', 'H', 'I', 'J']
class_num = [0]*10
label_num_dist = [0]*10
for idx, row in train_df.iterrows():
    count = 0
    if row.A == 1:
        class_num[0] += 1
        count += 1
    if row.B == 1:
        class_num[1] += 1
        count += 1
    if row.C == 1:
        class_num[2] += 1
        count += 1
    if row.D == 1:
        class_num[3] += 1
        count += 1
    if row.E == 1:
        class_num[4] += 1
        count += 1
    if row.F == 1:
        class_num[5] += 1
        count += 1
    if row.G == 1:
        class_num[6] += 1
        count += 1
    if row.H == 1:
        class_num[7] += 1
        count += 1
    if row.I == 1:
        class_num[8] += 1
        count += 1
    if row.J == 1:
        class_num[9] += 1
        count += 1
        
    label_num_dist[count-1] += 1

In [21]:
class_num

[18853, 18676, 18655, 18629, 18725, 18821, 18716, 18377, 18660, 18535]

In [22]:
# 클래스 비율
import numpy as np
np_class = np.array(class_num)
np_class = np_class / np.sum(np_class)

for idx, c in enumerate(np_class):
    print(f'{CLASSES[idx]}: {np_class[idx] * 100:.3f}%')

A: 10.101%
B: 10.006%
C: 9.995%
D: 9.981%
E: 10.032%
F: 10.084%
G: 10.027%
H: 9.846%
I: 9.997%
J: 9.931%

In [23]:
# 레이블 개수에 따른 사진 갯수
for idx, n in enumerate(label_num_dist, 1):
    print(idx, n)

1 632
2 2316
3 4595
4 6525
5 5525
6 4435
7 2323
8 2664
9 2630
10 2602

In [16]:
CLASSES = ['A', 'B', 'C', 'D', 'E', 'F', 'G', 'H', 'I', 'J']
class_num = [0]*10
label_num_dist = [0]*10
for idx, row in val_df.iterrows():
    count = 0
    if row.A == 1:
        class_num[0] += 1
        count += 1
    if row.B == 1:
        class_num[1] += 1
        count += 1
    if row.C == 1:
        class_num[2] += 1
        count += 1
    if row.D == 1:
        class_num[3] += 1
        count += 1
    if row.E == 1:
        class_num[4] += 1
        count += 1
    if row.F == 1:
        class_num[5] += 1
        count += 1
    if row.G == 1:
        class_num[6] += 1
        count += 1
    if row.H == 1:
        class_num[7] += 1
        count += 1
    if row.I == 1:
        class_num[8] += 1
        count += 1
    if row.J == 1:
        class_num[9] += 1
        count += 1
        
    label_num_dist[count-1] += 1

In [17]:
class_num

[4669, 4615, 4645, 4673, 4720, 4629, 4624, 4630, 4617, 4671]

In [18]:
# 클래스 비율
import numpy as np
np_class = np.array(class_num)
np_class = np_class / np.sum(np_class)

for idx, c in enumerate(np_class):
    print(f'{CLASSES[idx]}: {np_class[idx] * 100:.3f}%')

A: 10.042%
B: 9.926%
C: 9.991%
D: 10.051%
E: 10.152%
F: 9.956%
G: 9.946%
H: 9.958%
I: 9.931%
J: 10.047%

In [19]:
# 레이블 개수에 따른 사진 갯수
for idx, n in enumerate(label_num_dist, 1):
    print(idx, n)

1 160
2 564
3 1167
4 1647
5 1422
6 1099
7 558
8 646
9 652
10 647