In [2]:
import pandas as pd
import os

In [3]:
data = pd.read_csv('../data/train.csv')
data.head()

            id                 img_path  A  B  C  D  E  F  G  H  I  J
0  TRAIN_00000  ./train/TRAIN_00000.jpg  1  0  0  0  0  0  0  0  0  0
1  TRAIN_00001  ./train/TRAIN_00001.jpg  1  0  0  0  0  0  0  0  0  0
2  TRAIN_00002  ./train/TRAIN_00002.jpg  1  0  0  0  0  0  0  0  0  0
3  TRAIN_00003  ./train/TRAIN_00003.jpg  1  0  0  0  0  0  0  0  0  0
4  TRAIN_00004  ./train/TRAIN_00004.jpg  1  0  0  0  0  0  0  0  0  0

In [4]:
count_lst = []
count = 0
tmp = []
tmp_id = ''
flag = True
for idx, row in data.iterrows():
    if idx == 0:
        tmp = list(row[2:])
        tmp_id = row.id
    else:
        for i, j in zip(tmp, list(row[2:])):
            if i != j:
                flag = False
        
    if not flag:
        flag = True
        tmp = list(row[2:])
        count_lst.append((tmp_id, count))
        tmp_id = row.id
        count = 1
    else:
        count += 1

In [5]:
from collections import Counter

num_lst = [c for (id, c) in count_lst]
counter = Counter(num_lst)
counter

Counter({24: 1211,
         48: 36,
         21: 3,
         3: 4,
         25: 13,
         16: 2,
         23: 2,
         1: 4,
         72: 2,
         96: 1,
         20: 2,
         12: 1,
         7: 1,
         14: 1,
         19: 1,
         2: 58,
         4: 317})

In [6]:
# 회전을 감안해서 보는 실제 유효 샘플 갯수(회전시킨 샘플들은 모두 하나로 봄)
s = 0
for n in counter.values():
    s += n
s

1659

In [7]:
# 갯수에 맞는 사진 id 확인
for id, c in count_lst:
    if c == 1:
        print(id, c)

TRAIN_22198 1
TRAIN_22199 1
TRAIN_28926 1
TRAIN_29239 1